Repository vinyldns/vinyldns, pull requests merged in 2019-11, with the labels that each got.

#895 Rename batchChange module/controller/service to dnsChange
  modules/portal/app/views/dnsChanges/dnsChangeDetail.scala.html
  modules/portal/app/views/dnsChanges/dnsChangeNew.scala.html
  modules/portal/app/views/dnsChanges/dnsChanges.scala.html
  modules/portal/app/views/main.scala.html
  modules/portal/public/app.js
  modules/portal/public/lib/dns-change/dns-change-detail.controller.js
  modules/portal/public/lib/dns-change/dns-change-new.controller.js
  modules/portal/public/lib/dns-change/dns-change.directive.js
  modules/portal/public/lib/dns-change/dns-change.module.js
  modules/portal/public/lib/dns-change/dns-change.service.js
  modules/portal/public/lib/dns-change/dns-change.spec.js
  modules/portal/public/lib/dns-change/dns-changes.controller.js
Labels: external contribution, hacktoberfest

#906 update batch change limit info in the docs
  modules/docs/src/main/tut/api/batchchange-model.md
Labels: docs

#908 reject recordset names with spaces
  modules/api/functional_test/live_tests/recordsets/create_recordset_test.py
  modules/api/functional_test/live_tests/recordsets/update_recordset_test.py
  modules/api/src/main/scala/vinyldns/api/route/DnsJsonProtocol.scala
Labels: api, 🐞 bug
