Repository vinyldns/vinyldns, pull requests merged in 2021-12, with the labels that each got.

#1068 Consistency Updates
  .github/workflows/ci.yml
  .github/workflows/publish-site.yml
  .github/workflows/release.yml
  AUTHORS.md
  DEVELOPER_GUIDE.md
  MAINTAINERS.md
  README.md
  SYSTEM_DESIGN.md
  build.sbt
  build/docker/.env
  build/docker/api/application.conf
  build/sbt.sh
  img/VinylDNS_overview.png
  img/vinyldns_overview.png
  modules/api/src/it/resources/application.conf
  modules/api/src/it/scala/vinyldns/api/backend/dns/DnsBackendIntegrationSpec.scala
  modules/api/src/it/scala/vinyldns/api/domain/zone/ZoneViewLoaderIntegrationSpec.scala
  modules/api/src/it/scala/vinyldns/api/notifier/sns/SnsNotifierIntegrationSpec.scala
  modules/api/src/it/scala/vinyldns/api/route53/Route53ApiIntegrationSpec.scala
  modules/api/src/main/resources/application.conf
  modules/api/src/main/resources/reference.conf
  modules/api/src/main/resources/vinyldns-ascii.txt
  modules/api/src/test/resources/application.conf
  modules/api/src/test/scala/vinyldns/api/config/VinylDNSConfigSpec.scala
  modules/api/src/universal/conf/application.conf
  modules/docs/src/main/mdoc/operator/config-api.md
  modules/docs/src/main/mdoc/operator/config-portal.md
  modules/mysql/src/it/resources/application.conf
  modules/mysql/src/main/resources/test/ddl.sql
  modules/mysql/src/main/scala/vinyldns/mysql/MySqlConnector.scala
  modules/portal/conf/application.conf
  modules/r53/src/it/scala/vinyldns/route53/backend/Route53IntegrationSpec.scala
  modules/sqs/src/it/resources/application.conf
  modules/sqs/src/it/scala/vinyldns/sqs/queue/SqsMessageQueueProviderIntegrationSpec.scala
  quickstart/.env
  test/api/functional/application.conf
  test/api/integration/.env.integration
  test/api/integration/Makefile
  test/api/integration/application.conf
Labels: kind/maintenance, status/ready, area/core

#1064 Fix error when processing record with extra dot character in RData
  modules/api/src/main/scala/vinyldns/api/domain/record/RecordSetValidations.scala
  modules/api/src/main/scala/vinyldns/api/domain/zone/ZoneProtocol.scala
  modules/api/src/main/scala/vinyldns/api/route/RecordSetRouting.scala
  modules/api/src/test/scala/vinyldns/api/domain/record/RecordSetValidationsSpec.scala
  modules/core/src/main/scala/vinyldns/core/domain/DomainHelpers.scala
Labels: kind/bug, status/ready, area/api

#1073 Rollback Flyway dependency to support MySQL 5.x
  project/Dependencies.scala
  version.sbt
Labels: kind/maintenance, status/ready, area/core

#1075 Fix portal login redirect
  modules/api/src/test/scala/vinyldns/api/backend/CommandHandlerSpec.scala
  modules/portal/app/actions/ApiAction.scala
  modules/portal/app/actions/FrontendAction.scala
  modules/portal/app/actions/LegacySecuritySupport.scala
  modules/portal/app/actions/VinylDnsAction.scala
  modules/portal/app/controllers/OidcAuthenticator.scala
  modules/portal/app/controllers/VinylDNS.scala
  modules/portal/app/views/setOidcSession.scala.html
  modules/portal/test/controllers/FrontendControllerSpec.scala
  modules/portal/test/controllers/OidcAuthenticatorSpec.scala
  modules/portal/test/controllers/VinylDNSSpec.scala
  version.sbt
Labels: kind/enhancement, status/ready, area/portal
