Repository vinyldns/vinyldns, pull requests merged in 2022-10, with the labels that each got.

#1124 Add ability to search/filter zones
  modules/api/src/main/scala/vinyldns/api/domain/zone/ZoneService.scala
  modules/api/src/main/scala/vinyldns/api/domain/zone/ZoneServiceAlgebra.scala
  modules/api/src/main/scala/vinyldns/api/route/ZoneRouting.scala
  modules/api/src/test/functional/tests/zones/list_zones_test.py
  modules/api/src/test/functional/vinyldns_python.py
  modules/api/src/test/scala/vinyldns/api/domain/zone/ZoneServiceSpec.scala
  modules/api/src/test/scala/vinyldns/api/repository/EmptyRepositories.scala
  modules/api/src/test/scala/vinyldns/api/route/ZoneRoutingSpec.scala
  modules/core/src/main/scala/vinyldns/core/domain/membership/GroupRepository.scala
  modules/core/src/main/scala/vinyldns/core/domain/zone/ZoneRepository.scala
  modules/mysql/src/it/scala/vinyldns/mysql/repository/MySqlGroupRepositoryIntegrationSpec.scala
  modules/mysql/src/it/scala/vinyldns/mysql/repository/MySqlZoneRepositoryIntegrationSpec.scala
  modules/mysql/src/main/scala/vinyldns/mysql/repository/MySqlGroupRepository.scala
  modules/mysql/src/main/scala/vinyldns/mysql/repository/MySqlZoneRepository.scala
  modules/portal/app/views/zones/zones.scala.html
  modules/portal/public/lib/controllers/controller.zones.js
  modules/portal/public/lib/controllers/controller.zones.spec.js
  modules/portal/public/lib/services/zones/service.zones.js
  modules/portal/public/lib/services/zones/service.zones.spec.js
Labels: area/portal

#1144 Allow add for already exists DNS records.
  modules/api/src/main/scala/vinyldns/api/domain/batch/BatchChangeConverter.scala
  modules/api/src/main/scala/vinyldns/api/domain/batch/BatchChangeValidations.scala
  modules/api/src/main/scala/vinyldns/api/domain/batch/BatchTransformations.scala
  modules/api/src/main/scala/vinyldns/api/engine/RecordSetChangeHandler.scala
  modules/api/src/test/functional/tests/batch/create_batch_change_test.py
  modules/api/src/test/functional/tests/recordsets/update_recordset_test.py
  modules/api/src/test/scala/vinyldns/api/domain/batch/BatchChangeConverterSpec.scala
  modules/api/src/test/scala/vinyldns/api/domain/batch/BatchChangeServiceSpec.scala
  modules/api/src/test/scala/vinyldns/api/domain/batch/BatchChangeValidationsSpec.scala
  modules/api/src/test/scala/vinyldns/api/domain/record/RecordSetChangeSpec.scala
  modules/api/src/test/scala/vinyldns/api/engine/RecordSetChangeHandlerSpec.scala
  modules/core/src/main/scala/vinyldns/core/domain/DomainValidationErrors.scala
  modules/core/src/main/scala/vinyldns/core/domain/batch/SingleChange.scala
  modules/core/src/main/scala/vinyldns/core/domain/record/RecordSetChange.scala
  modules/mysql/src/it/scala/vinyldns/mysql/repository/MySqlBatchChangeRepositoryIntegrationSpec.scala
  modules/portal/app/views/dnsChanges/dnsChangeDetail.scala.html
Labels: kind/enhancement, area/api, area/ui-ux

#1145 Allow deletion of records that doesn't exist
  modules/api/src/main/scala/vinyldns/api/domain/batch/BatchChangeConverter.scala
  modules/api/src/main/scala/vinyldns/api/domain/batch/BatchChangeValidations.scala
  modules/api/src/test/functional/tests/batch/create_batch_change_test.py
  modules/api/src/test/scala/vinyldns/api/domain/batch/BatchChangeConverterSpec.scala
  modules/api/src/test/scala/vinyldns/api/domain/batch/BatchChangeValidationsSpec.scala
  modules/core/src/main/scala/vinyldns/core/domain/batch/SingleChange.scala
Labels: kind/enhancement, area/api

#1142 Add pagination in group view
  modules/api/src/main/resources/reference.conf
  modules/api/src/main/scala/vinyldns/api/domain/membership/MembershipService.scala
  modules/api/src/main/scala/vinyldns/api/route/MembershipRouting.scala
  modules/api/src/test/functional/tests/membership/list_my_groups_test.py
  modules/api/src/test/functional/vinyldns_python.py
  modules/portal/app/views/groups/groups.scala.html
  modules/portal/app/views/zones/zones.scala.html
  modules/portal/public/css/vinyldns.css
  modules/portal/public/lib/controllers/controller.groups.js
  modules/portal/public/lib/controllers/controller.groups.spec.js
  modules/portal/public/lib/controllers/controller.zones.js
  modules/portal/public/lib/controllers/controller.zones.spec.js
  modules/portal/public/lib/services/groups/service.groups.js
Labels: kind/feature, area/portal

#1158 Add Zone history tab in zones page
  modules/portal/app/controllers/VinylDNS.scala
  modules/portal/app/views/zones/zoneDetail.scala.html
  modules/portal/app/views/zones/zoneTabs/zoneChangeHistory.scala.html
  modules/portal/conf/routes
  modules/portal/public/lib/controllers/controller.manageZones.js
  modules/portal/public/lib/controllers/controller.manageZones.spec.js
  modules/portal/public/lib/services/profile/service.profile.js
  modules/portal/public/lib/services/profile/service.profile.spec.js
  modules/portal/public/lib/services/zones/service.zones.js
  modules/portal/public/lib/services/zones/service.zones.spec.js
  modules/portal/test/controllers/TestApplicationData.scala
  modules/portal/test/controllers/VinylDNSSpec.scala
Labels: kind/feature, area/portal, area/ui-ux

#1157 Add group change history
  modules/api/src/main/scala/vinyldns/api/domain/membership/MembershipProtocol.scala
  modules/api/src/main/scala/vinyldns/api/domain/membership/MembershipService.scala
  modules/api/src/main/scala/vinyldns/api/domain/membership/MembershipServiceAlgebra.scala
  modules/api/src/main/scala/vinyldns/api/domain/membership/MembershipValidations.scala
  modules/api/src/main/scala/vinyldns/api/route/MembershipJsonProtocol.scala
  modules/api/src/main/scala/vinyldns/api/route/MembershipRouting.scala
  modules/api/src/test/functional/tests/membership/get_group_changes_test.py
  modules/api/src/test/scala/vinyldns/api/domain/membership/MembershipServiceSpec.scala
  modules/api/src/test/scala/vinyldns/api/domain/membership/MembershipValidationsSpec.scala
  modules/api/src/test/scala/vinyldns/api/route/MembershipRoutingSpec.scala
  modules/core/src/main/scala/vinyldns/core/domain/membership/GroupChange.scala
  modules/core/src/main/scala/vinyldns/core/domain/membership/GroupChangeRepository.scala
  modules/core/src/test/scala/vinyldns/core/TestMembershipData.scala
  modules/portal/app/controllers/VinylDNS.scala
  modules/portal/app/views/groups/groupDetail.scala.html
  modules/portal/conf/routes
  modules/portal/public/lib/controllers/controller.membership.js
  modules/portal/public/lib/controllers/controller.membership.spec.js
  modules/portal/public/lib/services/groups/service.groups.js
  modules/portal/test/controllers/TestApplicationData.scala
  modules/portal/test/controllers/VinylDNSSpec.scala
Labels: kind/feature, area/portal, area/api, area/ui-ux

#1191 Update documentation for Apple M1 support
  DEVELOPER_GUIDE.md
Labels: area/documentation

#1185 updated AUTHORS.md
  AUTHORS.md
Labels: area/documentation

#1186 updated DEVELOPER_GUIDE.md
  DEVELOPER_GUIDE.md
Labels: area/documentation

#1193 Revert groups maxItems (PR #1142 fix)
  modules/api/src/main/resources/reference.conf
  modules/portal/public/lib/services/groups/service.groups.js
Labels: kind/bug

#1187 Allow dotted hosts creation using config
  modules/api/src/it/resources/application.conf
  modules/api/src/it/scala/vinyldns/api/domain/record/RecordSetServiceIntegrationSpec.scala
  modules/api/src/main/resources/application.conf
  modules/api/src/main/resources/reference.conf
  modules/api/src/main/scala/vinyldns/api/Boot.scala
  modules/api/src/main/scala/vinyldns/api/config/DottedHostsConfig.scala
  modules/api/src/main/scala/vinyldns/api/config/VinylDNSConfig.scala
  modules/api/src/main/scala/vinyldns/api/domain/batch/BatchChangeService.scala
  modules/api/src/main/scala/vinyldns/api/domain/batch/BatchChangeValidations.scala
  modules/api/src/main/scala/vinyldns/api/domain/record/RecordSetService.scala
  modules/api/src/main/scala/vinyldns/api/domain/record/RecordSetValidations.scala
  modules/api/src/test/functional/tests/recordsets/create_recordset_test.py
  modules/api/src/test/functional/tests/shared_zone_test_context.py
  modules/api/src/test/scala/vinyldns/api/VinylDNSTestHelpers.scala
  modules/api/src/test/scala/vinyldns/api/domain/batch/BatchChangeServiceSpec.scala
  modules/api/src/test/scala/vinyldns/api/domain/batch/BatchChangeValidationsSpec.scala
  modules/api/src/test/scala/vinyldns/api/domain/record/RecordSetServiceSpec.scala
  modules/api/src/test/scala/vinyldns/api/domain/record/RecordSetValidationsSpec.scala
  modules/api/src/test/scala/vinyldns/api/repository/EmptyRepositories.scala
  modules/core/src/main/scala/vinyldns/core/domain/membership/GroupRepository.scala
  modules/core/src/test/scala/vinyldns/core/TestMembershipData.scala
  modules/core/src/test/scala/vinyldns/core/TestZoneData.scala
  modules/docs/src/main/mdoc/operator/config-api.md
  modules/mysql/src/it/scala/vinyldns/mysql/repository/MySqlGroupRepositoryIntegrationSpec.scala
  modules/mysql/src/main/scala/vinyldns/mysql/repository/MySqlGroupRepository.scala
  modules/portal/app/views/zones/zoneTabs/manageRecords.scala.html
Labels: area/api

#1194 Fix dotted hosts update (PR #1187)
  modules/api/src/it/scala/vinyldns/api/domain/record/RecordSetServiceIntegrationSpec.scala
  modules/api/src/main/scala/vinyldns/api/domain/record/RecordSetService.scala
Labels: kind/bug

#1195 Hotfix: Raise Limit of Maximum Items in a Group List to 3000
  modules/api/src/main/resources/reference.conf
  modules/portal/public/lib/services/groups/service.groups.js
Labels: kind/bug, area/portal
