Repository vinyldns/vinyldns, pull requests merged in 2022-09, with the labels that each got.

#1173 Added spinner in zone search
  modules/portal/app/views/zones/zones.scala.html
  modules/portal/public/lib/services/zones/service.zones.js
Labels: kind/feature, area/portal, area/ui-ux

#1121 Validate Group Fields in API
  modules/api/src/main/scala/vinyldns/api/domain/membership/MembershipProtocol.scala
  modules/api/src/main/scala/vinyldns/api/domain/membership/MembershipService.scala
  modules/api/src/main/scala/vinyldns/api/route/MembershipRouting.scala
  modules/api/src/test/scala/vinyldns/api/domain/membership/MembershipServiceSpec.scala
  modules/core/src/main/scala/vinyldns/core/Messages.scala
Labels: kind/bug, area/api

#1134 Added forward slash validation for forward and reverse zone
  modules/api/src/main/scala/vinyldns/api/domain/DomainValidations.scala
  modules/api/src/main/scala/vinyldns/api/domain/batch/BatchChangeValidations.scala
  modules/api/src/test/functional/tests/batch/create_batch_change_test.py
  modules/api/src/test/scala/vinyldns/api/domain/DomainValidationsSpec.scala
  modules/api/src/test/scala/vinyldns/api/domain/batch/BatchChangeValidationsSpec.scala
  modules/core/src/main/scala/vinyldns/core/domain/DomainValidationErrors.scala
  modules/core/src/main/scala/vinyldns/core/domain/SingleChangeError.scala
Labels: kind/bug, area/core

#1159 Add Case Insensitivity to Group Search
  modules/api/src/main/scala/vinyldns/api/domain/membership/MembershipService.scala
  modules/api/src/test/scala/vinyldns/api/domain/membership/MembershipServiceSpec.scala
Labels: kind/enhancement, area/api

#1151 Add autocomplete in Group search
  modules/portal/Gruntfile.js
  modules/portal/app/views/main.scala.html
  modules/portal/karma.conf.js
  modules/portal/package.json
  modules/portal/public/css/vinyldns.css
  modules/portal/public/lib/controllers/controller.groups.js
Labels: kind/feature, area/portal

#1150 Auto complete feature in Global recordset search
  modules/portal/app/views/main.scala.html
  modules/portal/karma.conf.js
  modules/portal/public/css/vinyldns.css
  modules/portal/public/lib/recordset/recordsets.controller.js
Labels: kind/enhancement, area/portal, area/ui-ux

#1182 Fix for safari issue in autocomplete search
  modules/portal/public/lib/controllers/controller.groups.js
  modules/portal/public/lib/recordset/recordsets.controller.js
Labels: kind/bug, area/portal, area/ui-ux
