Repository vinyldns/vinyldns, pull requests merged in 2022-05, with the labels that each got.

#1126 typo change
  modules/docs/src/main/resources/microsite/static/dns-changes-csv-sample.csv
Labels: kind/maintenance, area/documentation

#1130 Minor updates
  .gitignore
  modules/api/src/main/scala/vinyldns/api/repository/ApiDataAccessorProvider.scala
  modules/core/src/main/scala/vinyldns/core/repository/DataAccessor.scala
  modules/core/src/main/scala/vinyldns/core/repository/DataStore.scala
  modules/core/src/main/scala/vinyldns/core/repository/DataStoreConfig.scala
  modules/core/src/main/scala/vinyldns/core/repository/DataStoreLoader.scala
  modules/core/src/main/scala/vinyldns/core/repository/DataStoreProvider.scala
  modules/core/src/main/scala/vinyldns/core/repository/DataStoreStartupError.scala
  modules/core/src/main/scala/vinyldns/core/repository/Repository.scala
  modules/portal/prepare-portal.sh
  quickstart/.env
  test/api/integration/.env.integration
Labels: kind/maintenance

#1117 Reverse zones are updated as case insensitive
  modules/api/src/main/scala/vinyldns/api/domain/ReverseZoneHelpers.scala
  modules/api/src/test/scala/vinyldns/api/domain/ReverseZoneHelpersSpec.scala
  modules/core/src/main/scala/vinyldns/core/domain/zone/Zone.scala
Labels: kind/bug, area/core

#1127 Allow Users to See All Groups When Creating an ACL Rule
  build.sbt
  modules/api/src/main/scala/vinyldns/api/domain/membership/MembershipProtocol.scala
  modules/api/src/main/scala/vinyldns/api/domain/membership/MembershipService.scala
  modules/api/src/main/scala/vinyldns/api/domain/membership/MembershipServiceAlgebra.scala
  modules/api/src/main/scala/vinyldns/api/route/MembershipRouting.scala
  modules/api/src/test/scala/vinyldns/api/route/MembershipRoutingSpec.scala
  modules/portal/app/views/groups/groups.scala.html
  modules/portal/app/views/zones/zoneTabs/manageZone.scala.html
  modules/portal/public/lib/controllers/controller.groups.js
  modules/portal/public/lib/controllers/controller.groups.spec.js
  modules/portal/public/lib/controllers/controller.manageZones.js
  modules/portal/public/lib/controllers/controller.manageZones.spec.js
  modules/portal/public/lib/controllers/controller.zones.js
  modules/portal/public/lib/controllers/controller.zones.spec.js
  modules/portal/public/lib/services/groups/service.groups.js
  project/PreparePortalHook.scala
Labels: kind/enhancement, area/portal

#1131 Relax DS record validations
  modules/api/src/main/scala/vinyldns/api/domain/record/RecordSetValidations.scala
  modules/api/src/test/functional/tests/recordsets/create_recordset_test.py
  modules/api/src/test/functional/tests/recordsets/update_recordset_test.py
  modules/api/src/test/scala/vinyldns/api/domain/record/RecordSetValidationsSpec.scala
Labels: kind/enhancement, area/api

#1133 Enable flyway configuration from environment
  modules/mysql/src/main/scala/vinyldns/mysql/MySqlConnector.scala
Labels: kind/enhancement, area/db

#1118 Get User API
  modules/api/src/main/scala/vinyldns/api/domain/membership/MembershipProtocol.scala
  modules/api/src/main/scala/vinyldns/api/domain/membership/MembershipService.scala
  modules/api/src/main/scala/vinyldns/api/domain/membership/MembershipServiceAlgebra.scala
  modules/api/src/main/scala/vinyldns/api/route/MembershipJsonProtocol.scala
  modules/api/src/main/scala/vinyldns/api/route/MembershipRouting.scala
  modules/api/src/test/scala/vinyldns/api/domain/batch/BatchChangeServiceSpec.scala
  modules/api/src/test/scala/vinyldns/api/domain/membership/MembershipServiceSpec.scala
  modules/api/src/test/scala/vinyldns/api/route/MembershipRoutingSpec.scala
  modules/core/src/main/scala/vinyldns/core/domain/auth/AuthPrincipal.scala
  modules/core/src/main/scala/vinyldns/core/domain/membership/UserRepository.scala
  modules/docs/src/main/mdoc/api/get-user.md
  modules/mysql/src/it/scala/vinyldns/mysql/repository/MySqlUserRepositoryIntegrationSpec.scala
  modules/mysql/src/main/scala/vinyldns/mysql/repository/MySqlUserRepository.scala
  modules/portal/app/controllers/VinylDNS.scala
  modules/portal/conf/routes
  modules/portal/test/controllers/UserAccountAccessorSpec.scala
Labels: kind/feature, area/api
