Repository vinyldns/vinyldns, pull requests merged in 2022-04, with the labels that each got.

#1097 Allow Users to View Members of Other Groups
  modules/api/src/main/scala/vinyldns/api/domain/membership/MembershipValidations.scala
  modules/api/src/test/functional/tests/membership/get_group_changes_test.py
  modules/api/src/test/functional/tests/membership/get_group_test.py
  modules/api/src/test/functional/tests/membership/list_group_admins_test.py
  modules/api/src/test/functional/tests/membership/list_group_members_test.py
  modules/api/src/test/scala/vinyldns/api/domain/membership/MembershipServiceSpec.scala
  modules/api/src/test/scala/vinyldns/api/domain/membership/MembershipValidationsSpec.scala
  modules/portal/app/views/groups/groups.scala.html
Labels: kind/enhancement, area/portal, area/api

#1096 Added spinner and no records found for recordset search
  modules/portal/app/views/recordsets/recordSets.scala.html
  modules/portal/public/css/vinyldns.css
  modules/portal/public/lib/recordset/recordsets.controller.js
  modules/portal/public/lib/services/records/service.records.js
Labels: kind/enhancement, area/portal, area/ui-ux

#1109 Hotfix: Flyway Migration Issue
  modules/api/src/main/resources/reference.conf
  modules/portal/conf/reference.conf
Labels: kind/bug

#1107 Fix loading TSIG algorithm from config
  modules/api/src/it/resources/application.conf
  modules/core/src/main/scala/vinyldns/core/domain/zone/Zone.scala
Labels: kind/bug, area/core

#1113 Added http status code check for the recordset search spinner
  modules/portal/public/lib/services/records/service.records.js
Labels: kind/bug, area/portal, area/ui-ux

#1115 Dropped recordset BLOB hash column in recordset table
  .gitignore
  modules/mysql/src/main/resources/db/migration/V3.25__RecordSetBlobHash.sql
  modules/mysql/src/main/resources/test/ddl.sql
  modules/mysql/src/main/scala/vinyldns/mysql/repository/MySqlRecordSetRepository.scala
  modules/mysql/src/test/scala/vinyldns/mysql/repository/MySqlRecordSetRepositorySpec.scala
  project/Dependencies.scala
Labels: area/db, changelog/breaking-change

#1110 Various logging fixes
  build/docker/api/application.conf
  build/docker/api/logback.xml
  modules/api/src/it/resources/application.conf
  modules/api/src/main/resources/application.conf
  modules/api/src/main/resources/logback.xml
  modules/api/src/main/resources/test/logback.xml
  modules/api/src/main/scala/vinyldns/api/route/Aws4Authenticator.scala
  modules/api/src/test/resources/application.conf
  modules/api/src/universal/conf/application.conf
  modules/core/src/test/resources/logback.xml
  modules/docs/src/main/mdoc/operator/config-api.md
  modules/sqs/src/main/scala/vinyldns/sqs/queue/SqsMessageQueue.scala
  modules/sqs/src/main/scala/vinyldns/sqs/queue/SqsMessageQueueProvider.scala
  quickstart/docker-compose.yml
  test/api/functional/application.conf
  test/api/integration/application.conf
Labels: kind/maintenance, area/observability

#1114 Improve Batch Change Query Performance
  modules/mysql/src/main/resources/db/migration/V3.27__BatchChangeIndex.sql
  modules/mysql/src/main/scala/vinyldns/mysql/repository/MySqlBatchChangeRepository.scala
Labels: area/db, kind/perf-tuning
