Repository vinyldns/vinyldns, pull requests merged in 2023-09, with the labels that each got.

#1294 collapse fix in manage records
  modules/portal/app/views/zones/zoneTabs/manageRecords.scala.html
Labels: area/portal, area/ui-ux

#1284 list abandoned zones
  modules/api/src/main/scala/vinyldns/api/domain/zone/ListZoneChangesResponse.scala
  modules/api/src/main/scala/vinyldns/api/domain/zone/ZoneProtocol.scala
  modules/api/src/main/scala/vinyldns/api/domain/zone/ZoneService.scala
  modules/api/src/main/scala/vinyldns/api/domain/zone/ZoneServiceAlgebra.scala
  modules/api/src/main/scala/vinyldns/api/route/ZoneRouting.scala
  modules/api/src/test/scala/vinyldns/api/domain/zone/ZoneServiceSpec.scala
  modules/api/src/test/scala/vinyldns/api/route/ZoneRoutingSpec.scala
  modules/core/src/main/scala/vinyldns/core/domain/zone/ListZoneChangesResults.scala
  modules/core/src/main/scala/vinyldns/core/domain/zone/ZoneChangeRepository.scala
  modules/core/src/test/scala/vinyldns/core/TestZoneData.scala
  modules/mysql/src/it/scala/vinyldns/mysql/repository/MySqlZoneChangeRepositoryIntegrationSpec.scala
  modules/mysql/src/it/scala/vinyldns/mysql/repository/MySqlZoneRepositoryIntegrationSpec.scala
  modules/mysql/src/main/resources/db/migration/V3.30__AddStatusZoneAccess.sql
  modules/mysql/src/main/resources/test/ddl.sql
  modules/mysql/src/main/scala/vinyldns/mysql/repository/MySqlZoneChangeRepository.scala
  modules/mysql/src/main/scala/vinyldns/mysql/repository/MySqlZoneRepository.scala
  modules/portal/app/controllers/VinylDNS.scala
  modules/portal/app/views/zones/zones.scala.html
  modules/portal/conf/routes
  modules/portal/public/lib/controllers/controller.manageZones.spec.js
  modules/portal/public/lib/controllers/controller.zones.js
  modules/portal/public/lib/controllers/controller.zones.spec.js
  modules/portal/public/lib/services/zones/service.zones.js
  modules/portal/public/lib/services/zones/service.zones.spec.js
  modules/portal/test/controllers/TestApplicationData.scala
  modules/portal/test/controllers/VinylDNSSpec.scala
Labels: kind/enhancement, area/portal, area/api, area/db

#1240 Add a filter for Route53 API results
  modules/r53/src/main/scala/vinyldns/route53/backend/Route53Backend.scala
Labels: kind/enhancement, area/api

#1300 refactor: allow assume role with optional externalId
  modules/api/src/it/scala/vinyldns/api/route53/Route53ApiIntegrationSpec.scala
  modules/r53/src/it/scala/vinyldns/route53/backend/Route53IntegrationSpec.scala
  modules/r53/src/main/scala/vinyldns/route53/backend/Route53Backend.scala
  modules/r53/src/main/scala/vinyldns/route53/backend/Route53Credentials.scala
  modules/r53/src/main/scala/vinyldns/route53/backend/Route53ProviderConfig.scala
  project/Dependencies.scala
Labels: kind/enhancement

#1306 Remove record change history route
  modules/api/src/main/scala/vinyldns/api/route/RecordSetRouting.scala
Labels: area/api

#1304 Added api for record set count and displayed in portal
  modules/api/src/main/scala/vinyldns/api/domain/record/RecordSetService.scala
  modules/api/src/main/scala/vinyldns/api/domain/record/RecordSetServiceAlgebra.scala
  modules/api/src/main/scala/vinyldns/api/domain/zone/ZoneProtocol.scala
  modules/api/src/main/scala/vinyldns/api/route/RecordSetRouting.scala
  modules/api/src/test/functional/tests/recordsets/get_recordset_test.py
  modules/api/src/test/functional/vinyldns_python.py
  modules/api/src/test/scala/vinyldns/api/domain/record/RecordSetServiceSpec.scala
  modules/api/src/test/scala/vinyldns/api/route/RecordSetRoutingSpec.scala
  modules/portal/app/controllers/VinylDNS.scala
  modules/portal/app/views/zones/zoneTabs/manageRecords.scala.html
  modules/portal/conf/routes
  modules/portal/public/lib/controllers/controller.records.js
  modules/portal/public/lib/services/records/service.records.js
  modules/portal/public/lib/services/records/service.records.spec.js
  modules/portal/test/controllers/VinylDNSSpec.scala
Labels: kind/feature, area/portal, area/api, area/ui-ux
