Repository vinyldns/vinyldns, pull requests merged in 2023-02, with the labels that each got.

#1199 Resolve bug in group details update
  modules/portal/public/lib/controllers/controller.groups.js
Labels: kind/bug, area/portal

#1189 Add zone autocomplete search
  modules/mysql/src/main/scala/vinyldns/mysql/repository/MySqlZoneRepository.scala
  modules/portal/app/views/main.scala.html
  modules/portal/app/views/zones/zones.scala.html
  modules/portal/public/lib/controllers/controller.zones.js
Labels: kind/feature, area/portal

#1197 Update zone record change pagination
  modules/api/src/main/scala/vinyldns/api/domain/record/ListRecordSetChangesResponse.scala
  modules/api/src/main/scala/vinyldns/api/domain/record/RecordSetService.scala
  modules/api/src/main/scala/vinyldns/api/domain/record/RecordSetServiceAlgebra.scala
  modules/api/src/main/scala/vinyldns/api/route/RecordSetRouting.scala
  modules/api/src/test/functional/tests/recordsets/list_recordset_changes_test.py
  modules/api/src/test/scala/vinyldns/api/route/RecordSetRoutingSpec.scala
  modules/core/src/main/scala/vinyldns/core/domain/record/ListRecordSetChangesResults.scala
  modules/core/src/main/scala/vinyldns/core/domain/record/RecordChangeRepository.scala
  modules/mysql/src/it/scala/vinyldns/mysql/repository/MySqlRecordChangeRepositoryIntegrationSpec.scala
  modules/mysql/src/main/scala/vinyldns/mysql/repository/MySqlRecordChangeRepository.scala
Labels: area/api

#1222 Allow Super Users to Update Record Owner Group in Shared Zone
  modules/api/src/main/scala/vinyldns/api/domain/access/AccessValidations.scala
  modules/api/src/main/scala/vinyldns/api/domain/access/AccessValidationsAlgebra.scala
  modules/api/src/main/scala/vinyldns/api/domain/batch/BatchChangeValidations.scala
  modules/api/src/main/scala/vinyldns/api/domain/record/RecordSetService.scala
  modules/api/src/main/scala/vinyldns/api/domain/record/RecordSetValidations.scala
  modules/api/src/main/scala/vinyldns/api/repository/TestDataLoader.scala
  modules/api/src/test/functional/tests/recordsets/update_recordset_test.py
  modules/api/src/test/functional/tests/shared_zone_test_context.py
  modules/api/src/test/scala/vinyldns/api/domain/access/AccessValidationsSpec.scala
  modules/api/src/test/scala/vinyldns/api/domain/record/RecordSetServiceSpec.scala
  modules/api/src/test/scala/vinyldns/api/domain/record/RecordSetValidationsSpec.scala
  modules/core/src/test/scala/vinyldns/core/TestMembershipData.scala
Labels: kind/enhancement, area/api

#1192 Refactor crypto be strongly typed
  modules/api/src/it/scala/vinyldns/api/backend/dns/DnsBackendIntegrationSpec.scala
  modules/api/src/it/scala/vinyldns/api/domain/record/RecordSetServiceIntegrationSpec.scala
  modules/api/src/it/scala/vinyldns/api/domain/zone/ZoneViewLoaderIntegrationSpec.scala
  modules/api/src/main/scala/vinyldns/api/backend/dns/DnsBackend.scala
  modules/api/src/main/scala/vinyldns/api/repository/TestDataLoader.scala
  modules/api/src/main/scala/vinyldns/api/route/DnsJsonProtocol.scala
  modules/api/src/test/scala/vinyldns/api/backend/dns/DnsBackendSpec.scala
  modules/api/src/test/scala/vinyldns/api/config/VinylDNSConfigSpec.scala
  modules/api/src/test/scala/vinyldns/api/domain/access/AccessValidationsSpec.scala
  modules/api/src/test/scala/vinyldns/api/domain/membership/MembershipValidationsSpec.scala
  modules/api/src/test/scala/vinyldns/api/domain/zone/ZoneConnectionValidatorSpec.scala
  modules/api/src/test/scala/vinyldns/api/domain/zone/ZoneServiceSpec.scala
  modules/api/src/test/scala/vinyldns/api/domain/zone/ZoneViewLoaderSpec.scala
  modules/api/src/test/scala/vinyldns/api/engine/ZoneSyncHandlerSpec.scala
  modules/api/src/test/scala/vinyldns/api/notifier/email/EmailNotifierSpec.scala
  modules/api/src/test/scala/vinyldns/api/route/VinylDNSJsonProtocolSpec.scala
  modules/api/src/test/scala/vinyldns/api/route/ZoneRoutingSpec.scala
  modules/core/src/main/scala/vinyldns/core/domain/Encryption.scala
  modules/core/src/main/scala/vinyldns/core/domain/auth/AuthPrincipal.scala
  modules/core/src/main/scala/vinyldns/core/domain/membership/User.scala
  modules/core/src/main/scala/vinyldns/core/domain/zone/Zone.scala
  modules/core/src/main/scala/vinyldns/core/protobuf/ProtobufConversions.scala
  modules/core/src/test/scala/vinyldns/core/TestMembershipData.scala
  modules/core/src/test/scala/vinyldns/core/TestZoneData.scala
  modules/core/src/test/scala/vinyldns/core/domain/membership/UserChangeSpec.scala
  modules/core/src/test/scala/vinyldns/core/domain/zone/ZoneConnectionSpec.scala
  modules/core/src/test/scala/vinyldns/core/protobuf/ProtobufConversionsSpec.scala
  modules/mysql/src/it/scala/vinyldns/mysql/repository/MySqlUserChangeRepositoryIntegrationSpec.scala
  modules/mysql/src/it/scala/vinyldns/mysql/repository/MySqlUserRepositoryIntegrationSpec.scala
  modules/mysql/src/it/scala/vinyldns/mysql/repository/MySqlZoneChangeRepositoryIntegrationSpec.scala
  modules/mysql/src/it/scala/vinyldns/mysql/repository/MySqlZoneRepositoryIntegrationSpec.scala
  modules/portal/app/controllers/VinylDNS.scala
  modules/portal/test/controllers/LdapAuthenticatorSpec.scala
  modules/portal/test/controllers/TestApplicationData.scala
  modules/portal/test/controllers/UserAccountAccessorSpec.scala
  modules/portal/test/controllers/VinylDNSSpec.scala
  modules/portal/test/tasks/UserSyncTaskSpec.scala
Labels: kind/enhancement, area/api, area/core

#1219 Fix batch change validation bug
  modules/api/src/main/scala/vinyldns/api/domain/batch/BatchChangeConverter.scala
  modules/api/src/main/scala/vinyldns/api/domain/batch/BatchChangeValidations.scala
  modules/api/src/main/scala/vinyldns/api/domain/batch/BatchTransformations.scala
  modules/api/src/main/scala/vinyldns/api/engine/RecordSetChangeHandler.scala
  modules/api/src/test/functional/tests/batch/create_batch_change_test.py
  modules/api/src/test/scala/vinyldns/api/domain/batch/BatchChangeConverterSpec.scala
  modules/api/src/test/scala/vinyldns/api/domain/batch/BatchChangeValidationsSpec.scala
  modules/core/src/main/scala/vinyldns/core/domain/DomainValidationErrors.scala
  modules/core/src/main/scala/vinyldns/core/domain/SingleChangeError.scala
  modules/core/src/main/scala/vinyldns/core/domain/batch/SingleChange.scala
  modules/mysql/src/it/scala/vinyldns/mysql/repository/MySqlBatchChangeRepositoryIntegrationSpec.scala
  modules/portal/app/views/dnsChanges/dnsChangeDetail.scala.html
Labels: kind/bug, area/api

#1214 Add zone sync scheduler
  modules/api/src/main/scala/vinyldns/api/Boot.scala
  modules/api/src/main/scala/vinyldns/api/backend/CommandHandler.scala
  modules/api/src/main/scala/vinyldns/api/domain/zone/ZoneChangeGenerator.scala
  modules/api/src/main/scala/vinyldns/api/domain/zone/ZoneProtocol.scala
  modules/api/src/main/scala/vinyldns/api/domain/zone/ZoneService.scala
  modules/api/src/main/scala/vinyldns/api/domain/zone/ZoneSyncScheduleHandler.scala
  modules/api/src/main/scala/vinyldns/api/route/DnsJsonProtocol.scala
  modules/api/src/test/functional/tests/zones/update_zone_test.py
  modules/api/src/test/scala/vinyldns/api/domain/batch/BatchChangeServiceSpec.scala
  modules/api/src/test/scala/vinyldns/api/domain/zone/ZoneServiceSpec.scala
  modules/api/src/test/scala/vinyldns/api/domain/zone/ZoneSyncScheduleHandlerSpec.scala
  modules/core/src/main/protobuf/VinylDNSProto.proto
  modules/core/src/main/scala/vinyldns/core/domain/zone/Zone.scala
  modules/core/src/main/scala/vinyldns/core/domain/zone/ZoneChange.scala
  modules/core/src/main/scala/vinyldns/core/domain/zone/ZoneRepository.scala
  modules/core/src/main/scala/vinyldns/core/protobuf/ProtobufConversions.scala
  modules/mysql/src/it/scala/vinyldns/mysql/repository/MySqlZoneRepositoryIntegrationSpec.scala
  modules/mysql/src/main/resources/db/migration/V3.28__ZoneSchedule.sql
  modules/mysql/src/main/scala/vinyldns/mysql/repository/MySqlZoneRepository.scala
  modules/mysql/src/test/scala/vinyldns/mysql/repository/MySqlZoneRepositorySpec.scala
  modules/portal/Gruntfile.js
  modules/portal/app/controllers/FrontendController.scala
  modules/portal/app/views/main.scala.html
  modules/portal/app/views/zones/zoneDetail.scala.html
  modules/portal/app/views/zones/zoneTabs/manageZone.scala.html
  modules/portal/app/views/zones/zoneTabs/zoneChangeHistory.scala.html
  modules/portal/karma.conf.js
  modules/portal/package.json
  modules/portal/public/css/vinyldns.css
  modules/portal/public/lib/controllers/controller.manageZones.js
  project/Dependencies.scala
Labels: kind/feature, area/api

#1204 Added metrics api for zone change failure and record change failure
  modules/api/src/main/scala/vinyldns/api/domain/record/ListRecordSetChangesResponse.scala
  modules/api/src/main/scala/vinyldns/api/domain/record/RecordSetService.scala
  modules/api/src/main/scala/vinyldns/api/domain/record/RecordSetServiceAlgebra.scala
  modules/api/src/main/scala/vinyldns/api/domain/zone/ListZoneChangesResponse.scala
  modules/api/src/main/scala/vinyldns/api/domain/zone/ZoneService.scala
  modules/api/src/main/scala/vinyldns/api/domain/zone/ZoneServiceAlgebra.scala
  modules/api/src/main/scala/vinyldns/api/route/RecordSetRouting.scala
  modules/api/src/main/scala/vinyldns/api/route/ZoneRouting.scala
  modules/api/src/test/scala/vinyldns/api/domain/record/RecordSetServiceSpec.scala
  modules/api/src/test/scala/vinyldns/api/domain/zone/ZoneServiceSpec.scala
  modules/api/src/test/scala/vinyldns/api/route/RecordSetRoutingSpec.scala
  modules/api/src/test/scala/vinyldns/api/route/ZoneRoutingSpec.scala
  modules/core/src/main/scala/vinyldns/core/domain/record/RecordChangeRepository.scala
  modules/core/src/main/scala/vinyldns/core/domain/zone/ZoneChangeRepository.scala
  modules/mysql/src/it/scala/vinyldns/mysql/repository/MySqlRecordChangeRepositoryIntegrationSpec.scala
  modules/mysql/src/it/scala/vinyldns/mysql/repository/MySqlZoneChangeRepositoryIntegrationSpec.scala
  modules/mysql/src/main/scala/vinyldns/mysql/repository/MySqlRecordChangeRepository.scala
  modules/mysql/src/main/scala/vinyldns/mysql/repository/MySqlZoneChangeRepository.scala
Labels: area/api, area/db
