Repository vinyldns/vinyldns, pull requests merged in 2023-03, with the labels that each got.

#1227 Debug zone sync scheduler issue
  modules/api/src/main/scala/vinyldns/api/Boot.scala
  modules/api/src/main/scala/vinyldns/api/domain/zone/ZoneSyncScheduleHandler.scala
  modules/api/src/test/scala/vinyldns/api/domain/zone/ZoneSyncScheduleHandlerSpec.scala
  modules/portal/app/views/zones/zoneTabs/manageZone.scala.html
Labels: area/portal, area/api

#1224 Fix autocomplete search
  modules/portal/app/views/main.scala.html
  modules/portal/public/lib/controllers/controller.zones.js
Labels: area/portal, area/ui-ux

#1226 Fix zone change history bug
  modules/portal/app/views/zones/zoneTabs/zoneChangeHistory.scala.html
  modules/portal/public/lib/controllers/controller.manageZones.js
Labels: kind/bug, area/portal

#1178 Restrict IPV4 address as CNAME in DNS changes.
  modules/api/src/main/scala/vinyldns/api/domain/DomainValidations.scala
  modules/api/src/test/functional/tests/batch/create_batch_change_test.py
  modules/api/src/test/scala/vinyldns/api/domain/DomainValidationsSpec.scala
  modules/api/src/test/scala/vinyldns/api/domain/batch/BatchChangeValidationsSpec.scala
  modules/api/src/test/scala/vinyldns/api/domain/record/RecordSetServiceSpec.scala
  modules/core/src/main/scala/vinyldns/core/domain/DomainValidationErrors.scala
  modules/core/src/main/scala/vinyldns/core/domain/SingleChangeError.scala
Labels: area/api, area/core

#1215 group email validation code along with unit test
  modules/api/src/main/resources/application.conf
  modules/api/src/main/resources/reference.conf
  modules/api/src/main/scala/vinyldns/api/Boot.scala
  modules/api/src/main/scala/vinyldns/api/config/ValidEmailConfig.scala
  modules/api/src/main/scala/vinyldns/api/config/VinylDNSConfig.scala
  modules/api/src/main/scala/vinyldns/api/domain/membership/MembershipProtocol.scala
  modules/api/src/main/scala/vinyldns/api/domain/membership/MembershipService.scala
  modules/api/src/main/scala/vinyldns/api/route/MembershipRouting.scala
  modules/api/src/test/functional/tests/membership/create_group_test.py
  modules/api/src/test/resources/application.conf
  modules/api/src/test/scala/vinyldns/api/domain/membership/MembershipServiceSpec.scala
  modules/core/src/main/scala/vinyldns/core/Messages.scala
  modules/docs/src/main/mdoc/operator/config-api.md
Labels: kind/enhancement, area/api

#1234 Restrict IPv4 as Cname in manage records
  modules/api/src/main/scala/vinyldns/api/domain/record/RecordSetValidations.scala
  modules/api/src/test/functional/tests/recordsets/create_recordset_test.py
  modules/api/src/test/scala/vinyldns/api/domain/record/RecordSetValidationsSpec.scala
Labels: kind/enhancement, area/api

#1233 Add config for zone sync scheduler
  build/docker/api/application.conf
  modules/api/src/main/resources/application.conf
  modules/api/src/main/resources/reference.conf
  modules/api/src/main/scala/vinyldns/api/Boot.scala
  modules/api/src/main/scala/vinyldns/api/config/ServerConfig.scala
  modules/api/src/test/scala/vinyldns/api/VinylDNSTestHelpers.scala
  modules/api/src/universal/conf/application.conf
  modules/docs/src/main/mdoc/operator/config-api.md
  test/api/functional/application.conf
  test/api/integration/application.conf
Labels: area/api

#1177 Remove portal logs from browser console
  modules/portal/public/app.js
  modules/portal/public/lib/controllers/controller.groups.js
  modules/portal/public/lib/controllers/controller.manageZones.js
  modules/portal/public/lib/controllers/controller.membership.js
  modules/portal/public/lib/controllers/controller.records.js
  modules/portal/public/lib/controllers/controller.zones.js
  modules/portal/public/lib/services/utility/service.utility.js
  modules/portal/public/lib/services/zones/service.zones.js
Labels: kind/maintenance, area/portal

#1235 Add logs and time converter for automated zone syncs
  modules/api/src/main/scala/vinyldns/api/backend/CommandHandler.scala
  modules/api/src/main/scala/vinyldns/api/engine/ZoneChangeHandler.scala
  modules/api/src/main/scala/vinyldns/api/engine/ZoneSyncHandler.scala
  modules/mysql/src/main/scala/vinyldns/mysql/repository/MySqlZoneChangeRepository.scala
  modules/portal/app/views/zones/zoneTabs/manageZone.scala.html
  modules/portal/public/lib/controllers/controller.manageZones.js
Labels: area/portal, area/api, area/db

#1239 Updates to zone sync scheduler
  modules/api/src/main/scala/vinyldns/api/backend/CommandHandler.scala
  modules/mysql/src/main/scala/vinyldns/mysql/repository/MySqlZoneChangeRepository.scala
  modules/portal/app/views/zones/zoneTabs/manageZone.scala.html
  modules/portal/public/lib/controllers/controller.manageZones.js
Labels: area/portal, area/api
