Repository vinyldns/vinyldns, pull requests merged in 2023-07, with the labels that each got.

#1268 Fix zone button bug
  modules/portal/public/lib/controllers/controller.manageZones.js
Labels: kind/bug, area/portal

#1265 Add metadata in portal for social media
  modules/docs/src/main/mdoc/operator/config-portal.md
  modules/portal/app/models/Meta.scala
  modules/portal/app/views/login.scala.html
  modules/portal/conf/application.conf
  modules/portal/conf/reference.conf
  modules/portal/public/images/poster.png
Labels: kind/maintenance, area/portal

#1180 Added record type sort in manage zones tab
  modules/api/src/it/scala/vinyldns/api/route53/Route53ApiIntegrationSpec.scala
  modules/api/src/main/scala/vinyldns/api/domain/record/RecordSetCacheService.scala
  modules/api/src/main/scala/vinyldns/api/domain/record/RecordSetService.scala
  modules/api/src/main/scala/vinyldns/api/domain/record/RecordSetServiceAlgebra.scala
  modules/api/src/main/scala/vinyldns/api/domain/zone/ZoneViewLoader.scala
  modules/api/src/main/scala/vinyldns/api/route/DnsJsonProtocol.scala
  modules/api/src/main/scala/vinyldns/api/route/RecordSetRouting.scala
  modules/api/src/test/scala/vinyldns/api/domain/record/RecordSetServiceSpec.scala
  modules/api/src/test/scala/vinyldns/api/domain/zone/ZoneViewLoaderSpec.scala
  modules/api/src/test/scala/vinyldns/api/engine/ZoneSyncHandlerSpec.scala
  modules/api/src/test/scala/vinyldns/api/repository/EmptyRepositories.scala
  modules/api/src/test/scala/vinyldns/api/route/RecordSetRoutingSpec.scala
  modules/core/src/main/scala/vinyldns/core/domain/record/ListRecordSetResults.scala
  modules/core/src/main/scala/vinyldns/core/domain/record/RecordSetRepository.scala
  modules/mysql/src/it/scala/vinyldns/mysql/repository/MySqlRecordSetRepositoryIntegrationSpec.scala
  modules/mysql/src/main/scala/vinyldns/mysql/repository/MySqlRecordSetCacheRepository.scala
  modules/mysql/src/main/scala/vinyldns/mysql/repository/MySqlRecordSetRepository.scala
  modules/portal/app/views/recordsets/recordSets.scala.html
  modules/portal/app/views/zones/zoneTabs/manageRecords.scala.html
  modules/portal/public/css/vinyldns.css
  modules/portal/public/lib/controllers/controller.records.js
  modules/portal/public/lib/controllers/controller.records.spec.js
  modules/portal/public/lib/recordset/recordsets.controller.js
  modules/portal/public/lib/services/records/service.records.js
Labels: kind/feature, area/portal, area/api, area/ui-ux

#1278 Fix zone filter bug
  modules/mysql/src/it/scala/vinyldns/mysql/repository/MySqlZoneRepositoryIntegrationSpec.scala
  modules/mysql/src/main/scala/vinyldns/mysql/repository/MySqlZoneRepository.scala
  modules/portal/app/views/zones/zones.scala.html
  modules/portal/public/css/vinyldns.css
Labels: kind/bug

#1271 Add filter hosts config
  build/docker/portal/application.conf
  modules/docs/src/main/mdoc/operator/config-portal.md
  modules/portal/conf/application-test.conf
  modules/portal/conf/application.conf
  modules/portal/conf/reference.conf
Labels: kind/maintenance, area/portal

#1274 Add an Option to Filter Out PTR Zones in the Zones View
  modules/api/src/main/scala/vinyldns/api/domain/zone/ZoneProtocol.scala
  modules/api/src/main/scala/vinyldns/api/domain/zone/ZoneService.scala
  modules/api/src/main/scala/vinyldns/api/domain/zone/ZoneServiceAlgebra.scala
  modules/api/src/main/scala/vinyldns/api/route/ZoneRouting.scala
  modules/api/src/test/scala/vinyldns/api/domain/zone/ZoneServiceSpec.scala
  modules/api/src/test/scala/vinyldns/api/repository/EmptyRepositories.scala
  modules/api/src/test/scala/vinyldns/api/route/ZoneRoutingSpec.scala
  modules/core/src/main/scala/vinyldns/core/domain/zone/ListZonesResults.scala
  modules/core/src/main/scala/vinyldns/core/domain/zone/ZoneRepository.scala
  modules/mysql/src/it/scala/vinyldns/mysql/repository/MySqlZoneRepositoryIntegrationSpec.scala
  modules/mysql/src/main/scala/vinyldns/mysql/repository/MySqlZoneRepository.scala
  modules/portal/app/views/zones/zones.scala.html
  modules/portal/public/lib/controllers/controller.zones.js
  modules/portal/public/lib/controllers/controller.zones.spec.js
  modules/portal/public/lib/services/zones/service.zones.js
  modules/portal/public/lib/services/zones/service.zones.spec.js
Labels: kind/enhancement, area/portal, area/api

#1279 Fix group history and zone update bug
  modules/api/src/main/scala/vinyldns/api/domain/membership/MembershipService.scala
  modules/portal/public/lib/controllers/controller.manageZones.js
Labels: kind/bug, area/api

#1246 Add record history in global recordset search
  modules/api/src/main/scala/vinyldns/api/domain/record/ListRecordSetChangesResponse.scala
  modules/api/src/main/scala/vinyldns/api/domain/record/RecordSetService.scala
  modules/api/src/main/scala/vinyldns/api/domain/record/RecordSetServiceAlgebra.scala
  modules/api/src/main/scala/vinyldns/api/domain/zone/ZoneProtocol.scala
  modules/api/src/main/scala/vinyldns/api/domain/zone/ZoneService.scala
  modules/api/src/main/scala/vinyldns/api/domain/zone/ZoneServiceAlgebra.scala
  modules/api/src/main/scala/vinyldns/api/route/RecordSetRouting.scala
  modules/api/src/main/scala/vinyldns/api/route/ZoneRouting.scala
  modules/api/src/test/functional/tests/recordsets/list_recordset_changes_test.py
  modules/api/src/test/functional/tests/zones/get_zone_test.py
  modules/api/src/test/functional/vinyldns_python.py
  modules/api/src/test/scala/vinyldns/api/domain/record/RecordSetServiceSpec.scala
  modules/api/src/test/scala/vinyldns/api/domain/zone/ZoneServiceSpec.scala
  modules/api/src/test/scala/vinyldns/api/engine/ZoneSyncHandlerSpec.scala
  modules/api/src/test/scala/vinyldns/api/route/RecordSetRoutingSpec.scala
  modules/api/src/test/scala/vinyldns/api/route/ZoneRoutingSpec.scala
  modules/core/src/main/scala/vinyldns/core/domain/record/ChangeSet.scala
  modules/core/src/main/scala/vinyldns/core/domain/record/RecordChangeRepository.scala
  modules/mysql/src/it/scala/vinyldns/mysql/repository/MySqlRecordChangeRepositoryIntegrationSpec.scala
  modules/mysql/src/main/resources/db/migration/V3.29__AddRecordChangeFields.sql
  modules/mysql/src/main/scala/vinyldns/mysql/repository/MySqlRecordChangeRepository.scala
  modules/portal/app/controllers/FrontendController.scala
  modules/portal/app/controllers/VinylDNS.scala
  modules/portal/app/views/recordsets/recordSets.scala.html
  modules/portal/conf/routes
  modules/portal/public/css/vinyldns.css
  modules/portal/public/lib/recordset/recordsets.controller.js
  modules/portal/public/lib/services/records/service.records.js
  modules/portal/test/controllers/FrontendControllerSpec.scala
  modules/portal/test/controllers/VinylDNSSpec.scala
Labels: area/portal, area/api, area/db

#1243 added max limits in zone and record change failure metrics api
  modules/api/src/main/scala/vinyldns/api/domain/record/ListRecordSetChangesResponse.scala
  modules/api/src/main/scala/vinyldns/api/domain/record/RecordSetService.scala
  modules/api/src/main/scala/vinyldns/api/domain/record/RecordSetServiceAlgebra.scala
  modules/api/src/main/scala/vinyldns/api/domain/zone/ListZoneChangesResponse.scala
  modules/api/src/main/scala/vinyldns/api/domain/zone/ZoneService.scala
  modules/api/src/main/scala/vinyldns/api/domain/zone/ZoneServiceAlgebra.scala
  modules/api/src/main/scala/vinyldns/api/route/RecordSetRouting.scala
  modules/api/src/main/scala/vinyldns/api/route/ZoneRouting.scala
  modules/api/src/test/scala/vinyldns/api/domain/record/RecordSetServiceSpec.scala
  modules/api/src/test/scala/vinyldns/api/domain/zone/ZoneServiceSpec.scala
  modules/api/src/test/scala/vinyldns/api/route/RecordSetRoutingSpec.scala
  modules/api/src/test/scala/vinyldns/api/route/ZoneRoutingSpec.scala
  modules/core/src/main/scala/vinyldns/core/domain/record/ListRecordSetChangesResults.scala
  modules/core/src/main/scala/vinyldns/core/domain/record/RecordChangeRepository.scala
  modules/core/src/main/scala/vinyldns/core/domain/zone/ListZoneChangesResults.scala
  modules/core/src/main/scala/vinyldns/core/domain/zone/ZoneChangeRepository.scala
  modules/mysql/src/it/scala/vinyldns/mysql/repository/MySqlRecordChangeRepositoryIntegrationSpec.scala
  modules/mysql/src/it/scala/vinyldns/mysql/repository/MySqlZoneChangeRepositoryIntegrationSpec.scala
  modules/mysql/src/main/scala/vinyldns/mysql/repository/MySqlRecordChangeRepository.scala
  modules/mysql/src/main/scala/vinyldns/mysql/repository/MySqlZoneChangeRepository.scala
Labels: kind/bug
