Repository vinyldns/vinyldns, pull requests merged in 2023-08, with the labels that each got.

#1282 Portal UI Changes
  modules/portal/app/views/recordsets/recordSets.scala.html
  modules/portal/app/views/zones/zoneTabs/manageRecords.scala.html
  modules/portal/app/views/zones/zones.scala.html
  modules/portal/public/css/vinyldns.css
Labels: area/portal, area/ui-ux

#1283 Fix 'My Zones' bug
  modules/portal/public/lib/controllers/controller.zones.js
Labels: kind/bug, area/portal

#1205 Make the Number of Groups Displayed in a List a Configurable Value
  build/docker/api/application.conf
  build/docker/portal/application.conf
  modules/api/src/main/resources/application.conf
  modules/api/src/universal/conf/application.conf
  modules/portal/app/models/Meta.scala
  modules/portal/app/views/dnsChanges/dnsChangeNew.scala.html
  modules/portal/app/views/zones/zoneTabs/manageZone.scala.html
  modules/portal/conf/application.conf
  modules/portal/public/lib/controllers/controller.groups.js
  modules/portal/public/lib/services/groups/service.groups.js
  modules/portal/test/models/MetaSpec.scala
Labels: kind/enhancement, area/portal

#1288 added zone id in recordset change failure metrics api parameters
  modules/api/src/main/scala/vinyldns/api/domain/record/RecordSetService.scala
  modules/api/src/main/scala/vinyldns/api/domain/record/RecordSetServiceAlgebra.scala
  modules/api/src/main/scala/vinyldns/api/route/RecordSetRouting.scala
  modules/api/src/test/scala/vinyldns/api/domain/record/RecordSetServiceSpec.scala
  modules/api/src/test/scala/vinyldns/api/route/RecordSetRoutingSpec.scala
  modules/core/src/main/scala/vinyldns/core/domain/record/RecordChangeRepository.scala
  modules/mysql/src/it/scala/vinyldns/mysql/repository/MySqlRecordChangeRepositoryIntegrationSpec.scala
  modules/mysql/src/main/scala/vinyldns/mysql/repository/MySqlRecordChangeRepository.scala
Labels: area/api

#1293 Resolve global recordset search autocomplete
  modules/portal/public/lib/recordset/recordsets.controller.js
Labels: area/portal

#1287 Temporarily remove record change history
  modules/api/src/test/functional/tests/recordsets/list_recordset_changes_test.py
  modules/api/src/test/scala/vinyldns/api/route/RecordSetRoutingSpec.scala
  modules/portal/app/views/recordsets/recordSets.scala.html
Labels: area/portal, area/api
