Repository vinyldns/vinyldns, pull requests merged in 2024-09, with the labels that each got.

#1348 Ownership transfer for records
  modules/api/src/it/scala/vinyldns/api/domain/record/RecordSetServiceIntegrationSpec.scala
  modules/api/src/it/scala/vinyldns/api/notifier/email/EmailNotifierIntegrationSpec.scala
  modules/api/src/it/scala/vinyldns/api/notifier/sns/SnsNotifierIntegrationSpec.scala
  modules/api/src/main/scala/vinyldns/api/Boot.scala
  modules/api/src/main/scala/vinyldns/api/backend/dns/DnsConversions.scala
  modules/api/src/main/scala/vinyldns/api/domain/batch/BatchChangeConverter.scala
  modules/api/src/main/scala/vinyldns/api/domain/record/RecordSetService.scala
  modules/api/src/main/scala/vinyldns/api/domain/record/RecordSetValidations.scala
  modules/api/src/main/scala/vinyldns/api/domain/zone/ZoneProtocol.scala
  modules/api/src/main/scala/vinyldns/api/notifier/email/EmailNotifier.scala
  modules/api/src/main/scala/vinyldns/api/notifier/email/EmailNotifierProvider.scala
  modules/api/src/main/scala/vinyldns/api/notifier/sns/SnsNotifierProvider.scala
  modules/api/src/main/scala/vinyldns/api/route/DnsJsonProtocol.scala
  modules/api/src/test/functional/tests/recordsets/update_recordset_test.py
  modules/api/src/test/scala/vinyldns/api/domain/record/RecordSetServiceSpec.scala
  modules/api/src/test/scala/vinyldns/api/domain/record/RecordSetValidationsSpec.scala
  modules/api/src/test/scala/vinyldns/api/notifier/email/EmailNotifierSpec.scala
  modules/api/src/test/scala/vinyldns/api/notifier/sns/SnsNotifierSpec.scala
  modules/api/src/test/scala/vinyldns/api/route/VinylDNSJsonProtocolSpec.scala
  modules/core/src/main/protobuf/VinylDNSProto.proto
  modules/core/src/main/scala/vinyldns/core/domain/record/RecordSet.scala
  modules/core/src/main/scala/vinyldns/core/notifier/NotifierLoader.scala
  modules/core/src/main/scala/vinyldns/core/notifier/NotifierProvider.scala
  modules/core/src/main/scala/vinyldns/core/protobuf/ProtobufConversions.scala
  modules/core/src/test/scala/vinyldns/core/TestRecordSetData.scala
  modules/core/src/test/scala/vinyldns/core/notifier/NotifierLoaderSpec.scala
  modules/portal/app/views/zones/zoneTabs/manageRecords.scala.html
  modules/portal/public/lib/controllers/controller.records.js
  modules/portal/public/lib/services/records/service.records.js
  modules/portal/public/lib/services/records/service.records.spec.js
  modules/portal/public/templates/record-modal.html
  modules/portal/test/controllers/TestApplicationData.scala
  modules/r53/src/main/scala/vinyldns/route53/backend/Route53Conversions.scala
Labels: area/portal, area/api, area/core

#1391 Export CSV in batch changes
  modules/portal/app/views/dnsChanges/dnsChangeDetail.scala.html
  modules/portal/public/css/vinyldns.css
  modules/portal/public/lib/dns-change/dns-change-detail.controller.js
Labels: kind/feature, area/portal, area/ui-ux

#1393 Reset the batch file name when re-upload the same file again
  modules/portal/public/lib/dns-change/dns-change-new.controller.js
Labels: kind/bug, area/portal

#1389 Fix batch update logic
  modules/api/src/main/scala/vinyldns/api/domain/batch/BatchChangeConverter.scala
  modules/api/src/main/scala/vinyldns/api/domain/batch/BatchTransformations.scala
  modules/api/src/main/scala/vinyldns/api/domain/record/RecordSetChangeGenerator.scala
  modules/api/src/main/scala/vinyldns/api/engine/RecordSetChangeHandler.scala
  modules/api/src/test/functional/vinyldns_python.py
  modules/api/src/test/scala/vinyldns/api/domain/batch/BatchChangeConverterSpec.scala
  modules/api/src/test/scala/vinyldns/api/engine/RecordSetChangeHandlerSpec.scala
  modules/mysql/src/main/scala/vinyldns/mysql/repository/MySqlRecordChangeRepository.scala
Labels: area/api
