Repository vinyldns/vinyldns, pull requests merged in 2024-10, with the labels that each got.

#1400 Mysql 8.0 compatibility
  modules/api/src/it/scala/vinyldns/api/MySqlApiIntegrationSpec.scala
  modules/mysql/src/it/scala/vinyldns/mysql/repository/MySqlGroupRepositoryIntegrationSpec.scala
  modules/mysql/src/main/resources/db/migration/V3.22__AddGroupFields.sql
  modules/mysql/src/main/resources/db/migration/V3.4__Groups.sql
  modules/mysql/src/main/scala/vinyldns/mysql/repository/MySqlGroupRepository.scala
Labels: kind/maintenance, area/db

#1396 Copy group, batch and zone id to clipboard
  modules/portal/app/views/dnsChanges/dnsChangeDetail.scala.html
  modules/portal/app/views/dnsChanges/dnsChanges.scala.html
  modules/portal/app/views/groups/groupDetail.scala.html
  modules/portal/app/views/zones/zoneDetail.scala.html
  modules/portal/public/css/vinyldns.css
  modules/portal/public/lib/controllers/controller.membership.js
  modules/portal/public/lib/controllers/controller.records.js
  modules/portal/public/lib/dns-change/dns-change-detail.controller.js
  modules/portal/public/lib/dns-change/dns-change-new.controller.js
  modules/portal/public/lib/dns-change/dns-changes.controller.js
  modules/portal/public/lib/recordset/recordsets.controller.js
  modules/portal/public/lib/services/utility/service.utility.js
Labels: area/portal

#1405 Rearranged the DNS change export csv column
  modules/portal/public/lib/dns-change/dns-change-detail.controller.js
Labels: kind/enhancement, area/portal

#1397 Fix for undefined recordSetGroupChange
  modules/portal/public/lib/controllers/controller.records.js
Labels: area/portal

#1398 Fix batch delete
  modules/api/src/main/scala/vinyldns/api/domain/batch/BatchChangeValidations.scala
  modules/api/src/main/scala/vinyldns/api/domain/batch/BatchTransformations.scala
  modules/api/src/main/scala/vinyldns/api/engine/RecordSetChangeHandler.scala
  modules/api/src/test/functional/tests/batch/create_batch_change_test.py
  modules/api/src/test/scala/vinyldns/api/domain/batch/BatchChangeConverterSpec.scala
  modules/core/src/main/scala/vinyldns/core/Messages.scala
Labels: area/portal, area/api
