Repository vinyldns/vinyldns, pull requests merged in 2024-05, with the labels that each got.

#1364 Updated codecov version to latest v4
  .github/workflows/verify.yml
Labels: kind/maintenance, area/deployment

#1351 Fix record change history pagination
  modules/portal/public/lib/recordset/recordsets.controller.js
Labels: kind/bug, area/portal

#1358 fixed deleted zone access issue in portal
  modules/portal/app/views/zones/zones.scala.html
Labels: area/portal

#1361 Update info messages
  modules/api/src/main/scala/vinyldns/api/engine/RecordSetChangeHandler.scala
Labels: kind/maintenance, area/api

#1365 Updated maintainers and contributors
  AUTHORS.md
  README.md
Labels: area/documentation

#1363 Add info regarding java key store
  modules/docs/src/main/mdoc/operator/setup-ldap.md
Labels: area/documentation

#1357 Remove unnecessary parameters from "listRecordSetChanges"
  modules/api/src/main/scala/vinyldns/api/domain/record/RecordSetService.scala
  modules/api/src/main/scala/vinyldns/api/domain/record/RecordSetServiceAlgebra.scala
  modules/api/src/main/scala/vinyldns/api/route/RecordSetRouting.scala
  modules/api/src/test/scala/vinyldns/api/domain/record/RecordSetServiceSpec.scala
  modules/api/src/test/scala/vinyldns/api/route/RecordSetRoutingSpec.scala
  modules/mysql/src/main/scala/vinyldns/mysql/repository/MySqlRecordChangeRepository.scala
Labels: kind/maintenance, area/api
