Repository vinyldns/vinyldns, pull requests merged in 2024-08, with the labels that each got.

#1371 Fix group update bug
  modules/portal/app/views/groups/groups.scala.html
  modules/portal/public/lib/controllers/controller.groups.js
Labels: kind/bug, area/portal

#1372 Removed docker compose version since no more use
  quickstart/docker-compose.yml
Labels: kind/maintenance, kind/supporting-artifact

#1377 spinner for record data search
  modules/portal/app/views/zones/zoneTabs/manageRecords.scala.html
  modules/portal/public/lib/services/records/service.records.js
Labels: area/portal, area/ui-ux

#1379 Add Beta Release Script
  .github/workflows/release-beta.yml
Labels: area/deployment

#1374 Fix for latency issue in batch change upload
  build/docker/api/application.conf
  modules/api/src/it/resources/application.conf
  modules/api/src/main/resources/application.conf
  modules/api/src/universal/conf/application.conf
  modules/docs/src/main/mdoc/operator/config-api.md
  modules/mysql/src/main/scala/vinyldns/mysql/repository/MySqlBatchChangeRepository.scala
  modules/portal/app/models/Meta.scala
  modules/portal/app/views/dnsChanges/dnsChangeNew.scala.html
  modules/portal/public/lib/dns-change/dns-change-new.controller.js
  modules/portal/public/lib/dns-change/dns-change.service.js
  modules/portal/test/models/MetaSpec.scala
  test/api/functional/application.conf
  test/api/integration/application.conf
Labels: kind/maintenance, area/portal, area/api, area/ui-ux

#1383 added batch-change-limit params in portal config
  modules/portal/app/models/Meta.scala
  modules/portal/conf/application.conf
  modules/portal/test/models/MetaSpec.scala
Labels: area/portal

#1385 Fix for dns edit page after submit
  modules/portal/public/lib/dns-change/dns-change.service.js
Labels: area/portal, area/ui-ux

#1386 Update Github actions plugins
  .github/workflows/release-beta.yml
  .github/workflows/release.yml
Labels: area/deployment
