Repository vinyldns/vinyldns, pull requests merged in 2024-02, with the labels that each got.

#1338 Fix record change history view in portal
  modules/api/src/main/scala/vinyldns/api/domain/record/RecordSetService.scala
  modules/api/src/main/scala/vinyldns/api/route/RecordSetRouting.scala
  modules/api/src/test/functional/tests/recordsets/list_recordset_changes_test.py
  modules/api/src/test/functional/vinyldns_python.py
  modules/api/src/test/scala/vinyldns/api/domain/record/RecordSetServiceSpec.scala
  modules/api/src/test/scala/vinyldns/api/route/RecordSetRoutingSpec.scala
  modules/docs/src/main/mdoc/api/get-recordset-change-history.md
  modules/portal/app/views/recordsets/recordSets.scala.html
  modules/portal/public/lib/recordset/recordsets.controller.js
  modules/portal/public/lib/services/records/service.records.js
Labels: kind/bug, area/portal, area/api

#1328 add group id in user response
  modules/api/src/main/scala/vinyldns/api/domain/membership/MembershipProtocol.scala
  modules/api/src/main/scala/vinyldns/api/domain/membership/MembershipService.scala
  modules/api/src/main/scala/vinyldns/api/domain/membership/MembershipServiceAlgebra.scala
  modules/api/src/main/scala/vinyldns/api/route/MembershipRouting.scala
  modules/api/src/test/scala/vinyldns/api/domain/membership/MembershipServiceSpec.scala
  modules/api/src/test/scala/vinyldns/api/route/MembershipRoutingSpec.scala
Labels: area/api

#1345 Updated get user api docs
  modules/docs/src/main/mdoc/api/get-user.md
Labels: area/documentation

#1333 Hide zone change for users not in admin group
  modules/api/src/main/scala/vinyldns/api/domain/access/AccessValidations.scala
  modules/api/src/main/scala/vinyldns/api/domain/access/AccessValidationsAlgebra.scala
  modules/api/src/main/scala/vinyldns/api/domain/zone/ZoneService.scala
  modules/api/src/test/functional/tests/zones/list_zone_changes_test.py
  modules/api/src/test/scala/vinyldns/api/domain/access/AccessValidationsSpec.scala
  modules/portal/app/views/zones/zoneDetail.scala.html
  modules/portal/public/lib/controllers/controller.records.js
Labels: area/portal, area/api

#1327 Hide group change history for non-members
  modules/api/src/main/scala/vinyldns/api/domain/membership/MembershipService.scala
  modules/api/src/main/scala/vinyldns/api/domain/membership/MembershipValidations.scala
  modules/api/src/test/functional/tests/membership/get_group_changes_test.py
  modules/api/src/test/scala/vinyldns/api/domain/membership/MembershipServiceSpec.scala
  modules/api/src/test/scala/vinyldns/api/domain/membership/MembershipValidationsSpec.scala
  modules/core/src/test/scala/vinyldns/core/TestMembershipData.scala
  modules/portal/app/views/groups/groupDetail.scala.html
  modules/portal/public/lib/controllers/controller.membership.js
  modules/portal/public/lib/controllers/controller.membership.spec.js
Labels: area/portal, area/api

#1343 Improve CSV Import Error Message
  modules/core/src/main/scala/vinyldns/core/Messages.scala
  modules/portal/public/lib/dns-change/dns-change-new.controller.js
Labels: kind/enhancement, area/portal

#1312 Update api docs
  modules/docs/src/main/mdoc/api/create-group.md
  modules/docs/src/main/mdoc/api/create-recordset.md
  modules/docs/src/main/mdoc/api/create-zone.md
  modules/docs/src/main/mdoc/api/delete-group.md
  modules/docs/src/main/mdoc/api/delete-recordset.md
  modules/docs/src/main/mdoc/api/get-group-change.md
  modules/docs/src/main/mdoc/api/get-group.md
  modules/docs/src/main/mdoc/api/get-recordset-change.md
  modules/docs/src/main/mdoc/api/get-recordset-count.md
  modules/docs/src/main/mdoc/api/get-recordset.md
  modules/docs/src/main/mdoc/api/get-user.md
  modules/docs/src/main/mdoc/api/get-valid-email-domains.md
  modules/docs/src/main/mdoc/api/get-zone-by-id.md
  modules/docs/src/main/mdoc/api/get-zone-by-name.md
  modules/docs/src/main/mdoc/api/list-group-activity.md
  modules/docs/src/main/mdoc/api/list-group-admins.md
  modules/docs/src/main/mdoc/api/list-group-members.md
  modules/docs/src/main/mdoc/api/list-groups.md
  modules/docs/src/main/mdoc/api/list-recordset-change-failures.md
  modules/docs/src/main/mdoc/api/list-recordset-changes.md
  modules/docs/src/main/mdoc/api/list-recordsets-by-zone.md
  modules/docs/src/main/mdoc/api/list-recordsets-global.md
  modules/docs/src/main/mdoc/api/list-zone-change-failures.md
  modules/docs/src/main/mdoc/api/list-zone-changes.md
  modules/docs/src/main/mdoc/api/list-zones.md
  modules/docs/src/main/mdoc/api/membership-model.md
  modules/docs/src/main/mdoc/api/update-group.md
  modules/docs/src/main/mdoc/api/update-zone.md
  modules/docs/src/main/resources/microsite/data/menu.yml
Labels: area/documentation

#1323 Filter batch changes by submitter and date time range
  modules/api/src/main/scala/vinyldns/api/domain/batch/BatchChangeService.scala
  modules/api/src/main/scala/vinyldns/api/domain/batch/BatchChangeServiceAlgebra.scala
  modules/api/src/main/scala/vinyldns/api/route/BatchChangeRouting.scala
  modules/api/src/test/scala/vinyldns/api/domain/batch/BatchChangeServiceSpec.scala
  modules/api/src/test/scala/vinyldns/api/repository/InMemoryBatchChangeRepository.scala
  modules/api/src/test/scala/vinyldns/api/route/BatchChangeRoutingSpec.scala
  modules/core/src/main/scala/vinyldns/core/domain/batch/BatchChangeRepository.scala
  modules/core/src/main/scala/vinyldns/core/domain/batch/BatchChangeSummary.scala
  modules/docs/src/main/mdoc/api/list-batchchanges.md
  modules/mysql/src/it/scala/vinyldns/mysql/repository/MySqlBatchChangeRepositoryIntegrationSpec.scala
  modules/mysql/src/main/scala/vinyldns/mysql/repository/MySqlBatchChangeRepository.scala
  modules/portal/app/views/dnsChanges/dnsChanges.scala.html
  modules/portal/app/views/recordsets/recordSets.scala.html
  modules/portal/public/css/vinyldns.css
  modules/portal/public/lib/dns-change/dns-change.service.js
  modules/portal/public/lib/dns-change/dns-changes.controller.js
Labels: area/portal, area/api

#1347 FAQ regarding group change history
  modules/docs/src/main/mdoc/faq.md
Labels: area/documentation
