Repository vinyldns/vinyldns, pull requests merged in 2024-11, with the labels that each got.

#1413 fix for undefined issue in ownership transfer
  modules/portal/public/lib/controllers/controller.records.js
Labels: kind/bug, area/portal, area/ui-ux

#1415 Query updates for MySQL 8
  modules/api/src/it/scala/vinyldns/api/MySqlApiIntegrationSpec.scala
  modules/mysql/src/it/scala/vinyldns/mysql/repository/MySqlGroupRepositoryIntegrationSpec.scala
  modules/mysql/src/main/resources/db/migration/V3.22__AddGroupFields.sql
  modules/mysql/src/main/resources/db/migration/V3.4__Groups.sql
  modules/mysql/src/main/scala/vinyldns/mysql/repository/MySqlGroupRepository.scala
Labels: area/db

#1417 Fix batch status display
  modules/api/src/main/scala/vinyldns/api/domain/batch/BatchChangeService.scala
  modules/api/src/test/scala/vinyldns/api/domain/batch/BatchChangeServiceSpec.scala
  modules/api/src/test/scala/vinyldns/api/notifier/email/EmailNotifierSpec.scala
  modules/api/src/test/scala/vinyldns/api/notifier/sns/SnsNotifierSpec.scala
  modules/api/src/test/scala/vinyldns/api/repository/InMemoryBatchChangeRepository.scala
  modules/api/src/test/scala/vinyldns/api/route/BatchChangeJsonProtocolSpec.scala
  modules/api/src/test/scala/vinyldns/api/route/BatchChangeRoutingSpec.scala
  modules/core/src/main/scala/vinyldns/core/domain/batch/BatchChange.scala
  modules/core/src/test/scala/vinyldns/core/domain/batch/BatchChangeSummarySpec.scala
  modules/mysql/src/it/scala/vinyldns/mysql/repository/MySqlBatchChangeRepositoryIntegrationSpec.scala
  modules/mysql/src/main/scala/vinyldns/mysql/repository/MySqlBatchChangeRepository.scala
Labels: kind/bug, area/api, area/core
